<main class="index">
    <header class="master-head d-flex">
        <div class="overlay my-auto">
            <div class="container text-center">
                <h1 class=" mb-1">Proyectos Personales</h1>
                <h3 class="mb-5">
                    <em>Crea y guarda tus proyectos </em>
                </h3>
                <a href="/signin" class="btn btn-primary">Comienza ahora</a>
            </div>
        </div>
    </header>
</main>