<div class="container mt-5">
    <div class="row p-4">
        <div class="col-md-4 p-3 shadow border rounded mx-auto">
            <div class="card-body text-center">
                <h4 class="card-title text-center">Bienvenido {{user.nombre}}</h4>
                <a href="/projects/add" class="btn btn-primary m-4">Crea un proyecto</a>
            </div>
        </div>
    </div>
</div>