<div class="container p-4 mt-5">
    <div class="row">
        <div class="card col-md-4 mx-auto shadow p-3 mb-5 bg-body rounded ">
            <div class="card-body">
                <h4 class="card-title">Agrega un nuevo proyecto</h4>
                <form action="/projects/add" method="POST" class="mt-3" autocomplete="off">
                    <div class="mb-3">
                        <label class="form-label">Nombre del proyecto</label>
                        <input name="nombre" type="text" class="form-control" autofocus>
                        <div class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Descripción del proyecto</label>
                        <textarea name="descripcion" cols="30" rows="3" class="form-control"></textarea>
                    </div>
                    <div class="mb-3">
                        <select name="tiempo_ejecucion" class="form-select" aria-label="Default select example">
                            <option selected>Tiempo de ejecución para el proyecto</option>
                            <option value=4>4 meses</option>
                            <option value=8>8 meses</option>
                            <option value=12>12 meses</option>
                            <option value=24>24 meses</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Nombre del operador del proyecto</label>
                        <input name="operador" type="text" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Agregar proyecto</button>
                </form>
            </div>
        </div>
    </div>
</div>