<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <i class="fab fa-atlassian d-inline-block align-text-top"></i>
            App Proyectos
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Menu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/projects">Todos los proyectos</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/projects/add">Agregar Proyecto</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/profile" class="nav-link">Perfil</a>
                </li>
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Cerrar sesión</a>
                </li>
                {{else}}
                <li class="nav-item">
                    <a href="/signin" class="nav-link">Ingresar</a>
                </li>
                <li class="nav-item">
                    <a href="/signup" class="nav-link">Registrarme</a>
                </li>
                {{/if}}
            </ul>
        </div>
    </div>
</nav>